<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Auth/login App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="jumbotron-narrow.css">
    <body background="https://upload.wikimedia.org/wikipedia/commons/e/e0/Glacier_in_Penola_Strait,_Antarctica_(6060845182).jpg"></body>
  </head>
  <body>

    {{{ body }}}


  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
