<div class="container">
      <div class="header clearfix">
  <nav>
    <div class="nav-wrapper">
      <a href="http://codingbootcamp.rutgers.edu/" class="brand-logo center">RCB</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>
        <h3 class="text-muted">My Class</h3>
      </div>
      <div class="jumbotron">
        <h1>Rutgers Coding Bootcamp</h1>
        <p class="lead">Welcome, please register. This is where to register if you are a student, instructor or TA.</p>
        <p><a class="btn btn-lg btn-success" href="http://localhost:3000/register" role="button">Register</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 RCB, Inc.</p>
      </footer>
    </div> <!-- /container -->
