<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">RCB</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="">Logout</a></li>
        <li><a href="http://localhost:3000/login">Login</a></li>
      </ul>
    </div>
  </nav>

<div style="margin-top:10%;"class="container col s1">
    <div class="row">

      <form action="/register" method="post" class="col s12">

        <div class="row">
          <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>

            <input id="first_name" type="text" class="validate" name="firstName">
            <label class"active" for="first_name">First Name</label>

          </div>
          <div class="input-field col s6">

            <input id="last_name" type="text" class="validate" name="lastName">
            <label for="last_name">Last Name</label>

          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>

            <input id="password" type="password" class="validate" name="password" >
            <label for="password">Password</label>

          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">email</i>

            <input id="email" type="email" class="validate" name="username">
            <label for="email">Email</label>

          </div>
        </div>
    </div>

  <div class="row">
          <p class="col s3">

          <input type="radio" id="student" name="student" value="student"/>
          <label for="student">Student</label>

          </p>
          <p class="col s3">

          <input type="radio" id="instructor" name="instructor" value="instructor"/>
          <label for="instructor">Instructor</label>

          </p>
          <p class="col s3">

          <input class="with-gap" type="radio" id="TA" name="TA" value="TA"  />
          <label for="TA">TA</label>

          </p>
     <button class="btn waves-effect waves-light col s3" type="submit" name="action">Submit
           <i class="material-icons right">send</i>
    </button>
      </form>
  </div>
    </div>

      <div class="container">
        <div class="row">
        <div class="col s1">
          <a class="btn btn-lg btn-success" href="http://localhost:3000/register" role="button">CLEAR FIELDS</a>
        </div>
        </div>
      </div>


      <h3 class="container" style="color:red"> {{ msg }} </h3> 
