<html>
<head>
  <meta charset="UTF-8">
  <title>Regestration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="jumbotron-narrow.css">
</head>

  <body>
  <div style="margin-top:10%;"class="container col s1">
      <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>

            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label class"active" for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">

            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>

            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">email</i>

            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
      </form>
    </div>

  <div class="row">
        <form action="#">
          <p class="col s3">
      <input name="group1" type="radio" id="test1" />
          <label for="test1">Student</label>
          </p>
          <p class="col s3">
      <input name="group1" type="radio" id="test2" />
          <label for="test2">Instructor</label>
          </p>
          <p class="col s3">
      <input class="with-gap" name="group1" type="radio" id="test3"  />
          <label for="test3">TA</label>
          </p>
     <button class="btn waves-effect waves-light col s3" type="submit" name="action">Submit
           <i class="material-icons right">send</i>
    </button>
      </form>
  </div>

  </div><div style="margin-top:10%;"class="container col s1">
      <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>

            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label class"active" for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">

            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>

            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">email</i>

            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
      </form>
    </div>

  <div class="row">
        <form action="#">
          <p class="col s3">
      <input name="group1" type="radio" id="test1" />
          <label for="test1">Student</label>
          </p>
          <p class="col s3">
      <input name="group1" type="radio" id="test2" />
          <label for="test2">Instructor</label>
          </p>
          <p class="col s3">
      <input class="with-gap" name="group1" type="radio" id="test3"  />
          <label for="test3">TA</label>
          </p>
     <button class="btn waves-effect waves-light col s3" type="submit" name="action">Submit
           <i class="material-icons right">send</i>
    </button>
      </form>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>